* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
  margin: 0;
  width: auto !important; /* Ubah ini */
}
