* {
  overflow-y: hidden;
}

.content {
  margin: 20px;
  overflow-y: hidden;
}

h6 {
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

.dialog-content {
  max-height: 700px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 16px;
}

mat-checkbox {
  margin-bottom: 16px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px;
}
